# Файлы с секретами
.env
config.py  # если ты не используешь переменные окружения, лучше не игнорировать config, а удалить токен

bot_database.db
# Кэш Python
__pycache__/
*.pyc

# Папки VS Code
.vscode/